<h1><%= @book.title %></h1>

<b>description:</b> <%= @book.description %><br>
<b>ISBN:</b> <%= @book.ISBN %>



<%= form_for @book, url: book_path(book_id: @book.id) do |f| %>

<%= f.label :edit_description %>
<%= f.text_field :description %>

<%= f.label :edit_isbn_number %>
<%= f.text_field :ISBN %>

<%= f.submit %>
<% end %>

<%= form_for @book, url: delete_book_path(book_id: @book.id) do |f| %>
<%= f.submit "delete" %>
<% end %>

<a href="/books"><img src="http://pngimg.com/upload/book_PNG2113.png" alt="stack o books" style="width:144;height:144px;" /></a>
