<h1><%= @book.title %></h1>

<b>description:</b> <%= @book.description %><br>
<b>ISBN:</b> <%= @book.ISBN %>

<%= form_tag("/books/#{@book.id}", method: "patch", class: "") do  %>
    <%= label_tag 'Edit Description' %>
    <%= text_field_tag "book[description]" %>
    <%= submit_tag %>
<% end %>

<%= form_tag("/books/#{@book.id}", method: "patch", class: "") do  %>
    <%= label_tag 'Edit ISBN number' %>
    <%= text_field_tag "book[ISBN]" %>
    <%= submit_tag %>
<% end %>

<%= form_tag("/books/#{@book.id}", method: "delete", class: "") do  %>
  <%=  button_to(name = "delete") %>
<% end %>

<a href="/books"><img src="http://pngimg.com/upload/book_PNG2113.png" alt="stack o books" style="width:144;height:144px;" /></a>
