<h1>TIYO library books</h1>

<% @books.each do |i| %>
<h3>
  <a href="/books/<%= i.id %>"><%= i.title %></a>
</h3>
<% end %>

<%= form_for @book, url: books_path do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>

<%= f.submit %>
<% end %>

<marquee>
<a href="/reservations">
  <img src="http://www.hokiesports.com/track/players/images/dally_martin.png" style="width:17%;height:17%" alt="" />
</a>
</marquee>
