<h1>all reservations</h1>

<%= form_for @book, url: book_path(book_id: @book.id) do |f| %>

<%= f.label :edit_description %>
<%= f.text_field :description %>

<%= f.label :edit_isbn_number %>
<%= f.text_field :ISBN %>

<%= link_to "DESTROY", book_path(id: @book.id), method: :delete %>

<%= f.submit %>
<% end %>
