<h1>all reservations</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>
        Reservation person
      </th>
      <th>
        Book name
      </th>
      <th>
        Due date
      </th>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
    <tr>
      <td>
        <a href="/reservations/<%= reservation.id %>"><%= reservation.name %></a>
      </td>
      <td>
        <% book = Book.all.find_by(id: reservation.book_id) %>
        <% if book %>
        <%= book.title %>
        <% else %>
        <%= "book not found" %>
        <% end %>
      </td>
      <td>
        <%= reservation.due_on %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>


<%= form_for @reservation, url: all_reservations_path do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :book_id %>
<%= f.number_field :book_id, min: 0 %>

<%= f.submit "place reservation" %>
<% end %>

<marquee>
<a href="/books"><img src="http://images.clipartpanda.com/moose-clip-art-ryanlerch_warning_moose_roadsign_2-1331px.png" height="144px" width="144px" alt="" /></a>
</marquee>
